<div class="row justify-content-sm-center">
  <% @cookies.each_key do |key| %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src=<%= @cookies[key].image %> alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= @cookies[key].name %></h5>
      <p class="card-text"><%= @cookies[key].description %></p>
      <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
      <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: $<%= @cookies[key].price %></li>
      <li class="list-group-item">stock: <%= @cookies[key].qty %></li>
    </ul>
  </div>

  <% end %>
</div>